{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["node", "react", "standard", "promise"],
  "rules": {
    "semi": "off",
    "quotes": "off",
    "space-before-function-paren": "off",
    "no-unused-vars": "off"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}
