.button {
  color: white;
  opacity: 0.8;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 15px 50px;
  cursor: pointer;
  width: 60%;
  box-shadow: 0 8px #999;
} .button:hover {
  opacity: 1;
} .button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.blue {
  background-color: #337ab7;
}

.red {
  background-color: #f44336;
}
