$white: white;
$red: red;
$black: black;

$buttonBlue: #337AB7;
$buttonRed: #F44336;

$sidenavBackground: #F1F1F1;

$modalBackgroundFallback: rgb(0,0,0);
$modalBackground: rgba(0,0,0,0.4);

$modalContentBorder: #888;
$modalContentBackground: #FEFEFE;

$modalInputBorder: #CCC;
$modalInputBackground: #F1F1F1;
$modalInputBackgroundFocus: #DDD;

$footerBackground: #555;
