.modal-content {
  background-color: #fefefe;
  margin: 15% auto 8% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 100%; /* Could be more or less, depending on screen size */
}
span.close {
  position: absolute;
  right: 35px;
  top: 25px;
  font-size: 40px;
  font-weight: bold;
  color: black;
}
span.close:hover,
span.close:focus {
  color: red;
  cursor: pointer;
}
.modal-container {
  position: relative;
}
.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}
@media screen and (min-width: 992px) {
  .modal-lg {
    max-width: 80%;
  }
  .modal-content {
    margin: 5% auto 15% auto;
    width: 60%;
  }
}
