@import "./colors.scss";
@import "./images.scss";
@import "./navbar.scss";
@import "./buttons.scss";
@import "./modal.scss";
@import "./footer.scss";

html {
  position: relative;
}
html,
body {
  min-height: 100%;
}
.varela-round {
  font-family: "Varela Round";
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.card {
  padding: 5px;
}
.card a:hover {
  text-decoration: none;
}
.jumbotron {
  margin-top: 42px;
  p {
    font-size: 14px;
  }
}
.pointer:hover {
  cursor: pointer;
}

form span:hover {
  color: #007bff;
}
